.iconContainer {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-color: #9b9b9b;
  height: 48px;
  margin-top: 0px;
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.searchIcon {
  border: none;
  outline: none;
}
